- flash.each do |name, msg|
  - if msg.is_a?(String)
    %div{:class => "alert alert-#{name.to_s == 'notice' ? 'success' : 'danger'}"}
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      = content_tag :div, msg, :id => "flash_#{name}"

%h2.center Sign up

.center

  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = devise_error_messages!
    .field
      %br/
      = f.text_field :username, class: 'form-control smaller', placeholder: 'Username', autofocus: true
    .field
      %br/
      = f.password_field :password, class: 'form-control smaller', placeholder: 'Password', autocomplete: "off"
    .field
      %br/
      = f.password_field :password_confirmation, class: 'form-control smaller', placeholder: 'Password Confirmation', autocomplete: "off"
      %br/

    .actions
      = f.submit "Sign up", class: 'btn btn-primary form-btn'
  %br/
  = render "devise/shared/links"
